<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Home - Cliente</title>
  <link rel="stylesheet" href="/public/style/style.css" />
</head>
<body>
  <div class="container">
    <h1>Bem vindo, <%= cliente.nome %>!</h1>
    <p>Telefone: <%= cliente.telefone %></p>
    <p>Aqui será a página central do cliente (lista de serviços, filtros, etc.).</p>
    <a href="/login">Voltar / trocar usuário</a>
  </div>
</body>
</html>
